*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    --primary: #32BE60;
    --title: #333333;
    --text-ligth: #A5A5A5;    ;
    --border: #E6E6E6;
    --white: #FFFFFF;
    --background: #F5F5F5;
    --danger: #FF4444;
    --orange: #E9936D;
    --blue: #4A90E2;
    --purple: #5444B5;
    --blue-ligth: #70C8ED;
    --orange-ligth: #FFE2E2;
    --beige-ligth: #FFEBD5;
    --green-ligth: #D3F1F4;
    --purple-ligth: #E6E5FD;
    --background-light: #F5F5F5;
    --color-icon-input: #A5A5A5;
    --icon-danger: #f77;
    --blue-fixed: #1da1f2;
    --background-box-icon: #F2F6FF;
    --shadow-area: #1b1b1b69;
    --background-tags: #E5FDFF;
    --placeholder: #777777;
}





body{
    background: var(--background);
}

input + div {
    padding: 2px 0;
    font-size: 12px;
}

section.area{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

section.area div.login-area{
    width: 100%;
    min-height: 100vh;
    padding: 30px;
    box-sizing: border-box;
}

section.area div.login-area div.logo-area{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

section.area div.login-area div.logo-area img.logo{
    max-width: 266px;
}


section.area div.login-area div.input-area{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 18px;
}

section.area div.login-area div.input-area label.input-label{
    font-size: 14px;
    font-weight: 700;
    color: var(--title);
}


section.area div.login-area div.input-area input.input-group,
section.area div.login-area div.input-area select.input-group,
section.area div.login-area div.input-area .file
{
    height: 54px;
    border-radius: 5px;
    border: 1px solid var(--border);
    box-sizing: border-box;
    padding: 15px;
    outline: none;
}

.file{
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
}

.file label{
    position: absolute;
    top: 19px;
    left: 15px;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 13px;
    color: var(--text-ligth);
}

.fa-check {
    color: var(--primary) !important;
}

.icon-file{
    position: absolute;
    top: 19px;
    right: 15px;
    font-size: 14px;
    color: var(--text-ligth);
}

.input-file{
    opacity: 0;
    width: 100% !important;
}

.select{
    background: var(--white);
}

section.area div.login-area div.input-area input.input-group:focus {
    outline: none;
    border: 1.5px solid var(--primary);
    transition: ease-in-out 0.1s;
  }

section.area div.login-area div.button-area{
    height: 54px;
    margin: 22px 0;
}

section.area div.login-area div.button-area input.button{
    border: 0;
    background: var(--primary);
    color: var(--white);
    font-weight: 700;
} 

section.area div.login-area div.button-area input.button-border{
    background: var(--white);
    color: var(--text-ligth);
    border: 2px solid var(--primary);
} 


/* CHECKBOX */

.area-checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    margin: 12px 0;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--text-ligth);
}
  
.area-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid var(--border);
    border-radius: 2px;
    outline: none;
}
  
  
.area-checkbox input:checked ~ .checkmark {
    background-color: var(--primary);
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.area-checkbox input:checked ~ .checkmark:after {
    display: block;
}
  
.area-checkbox .checkmark:after {
    left: 4px;
    top: 1px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#descricaoDenuncia{
    background: var(--white);
}

/* SEPARATOR */

div.separator-area {
    width: 100%;
    height: 76px;
    margin-bottom: 15px;
    flex-direction: column;
    margin: 25px 0;
}

div.separator {
    height: auto !important;
    position: relative;
    display: flex;
}

div.separator div {
    position: absolute;
    text-align: center !important;
    width: 10%;
    height: 100%;
    margin-left: 45%;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
} 

div.separator div label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0 !important;
    margin: 0 !important;
    font-size: 12px;
}

div.separator hr.line{
    border-color: 1px solid var(--border);
}

div.text-cad a{
    font-size: 14px;
    text-decoration: none;
}

div.text-cad a span{
    font-weight: 700;
    color: var(--primary);
}

div.logo-area-cad{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.return{
    font-size: 26px;
    margin-bottom: 20px;
    color: var(--title);
}

.return:hover{
    transition: 0.2s;
    color: var(--primary);
}

div.logo-area-cad div h1{
    color: var(--title);
    font-size: 26px;
}

div.logo-area-cad div i{
    font-size: 26px;
}


div.logo-area-cad div label{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-ligth);
}

div.logo-area-cad div img{
    width: 40px;
}


/* STEPS */

.steps{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin-top: 25px;
}

.line-steps{
    width: 100%;
    border: 2px solid #D6D6D6;
}

.circles-area{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.circle{
    min-width: 37px;
    min-height: 37px;
    border-radius: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle h2{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-weight: 500;
}

.green{
    background: var(--primary);
}

.green h2{
    font-weight: bold;
}

.gray{
    background: #D6D6D6;
}

.details-selfie{
    height: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-selfie img{
    max-width: 350px;
    width: 100%;
}

section.area div.image-area{
    display: none;
}



/* ----------------------------------------- */

.container{
    width: 90%;
}

.nav-menu{
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 15px 20px 0 rgba(88,91,96,.1); */
    background: var(--white);
    z-index: 9999;
 
}

.nav-menu .area-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.info-user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.perfil-image{
    width: 40px;
    height: 40px;
    background: var(--primary);
    border-radius: 100%;
    margin-right: 15px;
}

img.profile-photo {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.menu-icon{
    color: var(--text-ligth);
    font-size: 20px !important;
}

.space-line{
    width: 1px;
    height: 20px;
    background: var(--text-ligth);
    margin: 0 15px;
}



/* ------ sidemenu ------- */
.route-and-map{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.none{
    display: none;
}

.noneImportant{
    display: none !important;
}

.adp-text{
    display: none;
}

.side-menu-area{
    width: 100%;
    height: 100%;
    background: #00000073;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999999;
    
}

.side-menu{
    min-width: 70%;
    width: 70%;
    height: 100%;
    background: var(--white);
    padding: 20px 20px !important;
    box-sizing: border-box;
}

.side-menu .logo-menu{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.side-menu .logo-menu img{
    width: 120px;
}

.itens{
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.subtitle{
    font-size: 12px;
    color: #C1C1C1;
}

.item{
    display: flex;
    align-items: center;
    margin-top: 25px;
    color: var(--text-ligth);
    cursor: pointer;
}

.icon-menu{
    font-size: 18px !important;
    cursor: pointer;
}

.green-text{
    color: var(--primary);
    cursor: pointer;
}

.item label{
    font-size: 14px;
    margin-left: 18px;
    cursor: pointer;
}

.item label:hover{
    color: var(--primary);
}

.bottom{
    margin-bottom: 60px;
}

.route-area{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.define-route{
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: var(--background-light);
}

.define-route h1{
    font-weight: 600;
    font-size: 20px;
    color: var(--title);
}

.search{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-search{
    width: 85%;
    height: 100%;
}

.switch-search{
    width: 15%;
    height: 100% !important;
}

.input-area{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 13px;
    position: relative;
}

div.input-area input.input-group{
    height: 100%;
    border-radius: 5px;
    border: 1px solid var(--border);
    box-sizing: border-box;
    padding: 15px;
    outline: none;
}

.icon-input{
    position: absolute;
    right: 15px;
    top: 11px;
    font-size: 18px !important;
    color: var(--color-icon-input);
}

.switch-button{
    margin-left: 20%;
    width: 80%;
    height: 92px;
    background: var(--white);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
}

.switch-button .material-icons{
    color: var(--title);
}

.route-options{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.route-option{
    width: 48%;
    height: 100%;
    background: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
    box-sizing: border-box;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.area-icon{
    min-width: 35px;
    min-height: 35px;
    border-radius: 5px;
    background: var(--green-ligth);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.area-icon .icon{
    color: var(--blue-ligth);
    font-size: 18px !important;
}

.route-option label{
    font-weight: 600;
    font-size: 12px;
    color: var(--title);
}

.routes-suggestion{
    width: 100%;
    height: 225px;
    background: var(--white);
    margin-top: 13px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.destinations{
    position: absolute;
    top: -8px;
    left: 0;
    width: 90%;
    height: 220px;
    background: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 14px;
    overflow-y: auto;
    transition: .2s all;
}

.destinations h3{
    color: var(--title) !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    margin: 12px 0;
}

.card-destination, .adp-listinfo{
    width: 100%;
    height: 65px;
    border: 1px solid var(--border);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 6px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    background: var(--white);
}

.card-destination .text h4,
.adp-listinfo b{
    color: var(--title) !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    margin-bottom: 8px;
}

.card-destination .text label,
.adp-listinfo span{
    color: var(--text-ligth) !important;
    font-size: 14px !important;
}

.icon-walk{
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 1px solid var(--background);
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-walk span{
    color: var(--primary);
}

.group-locomotion{
    position: absolute;
    left: unset;
    right: 0;
}

.group-destination{
    height: 115px;
}

.text{
    height: auto;
    display: flex;
    flex-direction: column;
}

.group-destination .text label{
    padding-bottom: 8px;
}

.card-date{
    display: flex;
    align-items: center;
    padding: 0 !important;
}

.label-date{
    font-size: 12px !important;
    margin-left: 5px;
}

.icon-date{
    font-size: 16px !important;
}

.icons{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.members{
    height: 25px;
    width: auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

.member{
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 2px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
}

.orange{
    background: var(--orange);
}

.blue{
    background: var(--blue);
}

.purple{
    background: var(--purple);
}

.member label{
    color: var(--white);
    font-size: 9px;
    font-weight: 600;
}

.waiting-route{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll
}

.img-wainting-route{
    width: 50% !important;
}

#ui-id-1,
#ui-id-2{
    background:white;
    z-index: 99999;
    padding: 10px 5px;
    list-style: none;
    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
}

#ui-id-1 li,
#ui-id-2 li {
    height: 30px;
    width: 100%;
    font-size: 12px;
    color: var(--text-color);
    font-weight: 500;
}

#ui-id-1 li:hover,
#ui-id-2 li:hover{
    cursor: pointer;
}

.routes-suggestion h3{
    font-weight: normal;
    font-size: 16px;
    color: var(--text-ligth);
}

.adp-listheader{
    font-weight: bold !important;
    font-size: 16px !important;
    color: var(--title) !important;
    margin-bottom: 15px !important;
    box-sizing: border-box;
    padding-bottom: 15px !important;
}

.routes-suggestion img{
    width: 200px;
}

.alert{
    width: 100%;
    height: 45px;
    background: var(--white);
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f77;
    border-radius: 5px;
    box-sizing: border-box;
}

.alert:hover{
    transition: 0.5s;
    cursor: pointer;
    background: #f77;
    color: white !important;
}

.alert .area-icon {
    min-width: 29px;
    min-height: 29px;
    background: var(--orange-ligth);
}

.alert .area-icon .icon{
    font-size: 22px !important;
}

.alert label{
    font-weight: bold;
    font-size: 12px;
    color: var(--title);
}

.icon-danger{
    color: var(--icon-danger) !important;
}

.maps-area{
    width: 0px;
}

/* --------------------------------------- */

.defined{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.input-group{
    background: var(--white);
}

.routes-suggestion-options{
    min-height: 320px;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow-y: hidden !important;
}

.routes-suggestion-options h3{
    color: var(--title);
    font-weight: 700;
    margin-bottom: 15px;
}

.card-destination-suggestion{
    height: auto;
}

.card-destination-suggestion .text h4{
    margin: 5px 0;
}

.card-destination-suggestion .text label{
    margin-bottom: 5px;
}

.area-btn-defined{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 43px;
    bottom: 15px;
    left: 0;
    padding: 0 15px;
}

.area-btn-defined .btn-defined-destination{
    width: 100%;
    height: 100%;
    border: 1px solid var(--border);
    border-radius: 5px;
    background: var(--text-ligth);
    color: var(--white);
    outline: none;
}

.add-color-btn{
    border: 0 !important;
    background: var(--primary) !important;
    color: var(--white) !important;
    font-weight: bold;
}

.add-color-card{
    transition: .09s all;
    border: 2px solid var(--primary);
}

.route-streets h3{
    margin-bottom: 5px;
}

.route-streets label{
    margin-bottom: 15px;
}

.streets{
    width: 100%;
    height: 80%;
    overflow-y: auto;
}

.street{
    width: 100%;
    height: 60px;
    border-top: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 0;
}

.street-icon{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.street-text{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.street-text label{
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
    padding-right: 5px !important;
}

.distance{
    font-size: 14px;
    padding: 0 !important;
}


.card-route-group{
    min-height: unset;
    height: 150px !important;
}

.card-route-group-information{
    border: 0;
    padding: 0;
}

.icon-chat{
    width: 30px;
    height: 22px;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.icon-chat span{
    color: var(--white);
    font-size: 16px;
}

.text label .bold{
    font-weight: 500;
    color: var(--title);
}

.text-group-route{
    display: flex;
    justify-content: space-between !important;
    flex-direction: column;
}



/* ---------------------------------------------- */

[data-anime] {
    opacity: 0;
    transition: 0.5s;
}

[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/* ---------------------------------------------- */


.buttons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.btn-group{
    width: 48%;
    height: 40px;
    box-sizing: border-box;
    border: 0;
    background: var(--primary);
    border-radius: 5px;
    font-weight: bold;
    color: var(--white);
    outline: none;
}

.btn-white{
    background: var(--white);
    color: var(--primary);
    border: 2px solid var(--primary);
}

.group-details{
    width: 100%;
    height: auto;
    margin-top: 25px !important;
}

.card-detail{
    width: 100%;
    height: 90px;
    border-radius: 10px;
    border: 1px solid var(--border);
    background: var(--white);
    box-sizing: border-box;
    padding: 9px 16px;
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-detail h1{
    font-size: 16px;
    color: var(--title);
}

.group-util{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8px;
}

.group-util label{
    font-size: 14px;
    color: var(--text-ligth);
}

.icon-detail{
    font-size: 18px !important; 
    color: var(--primary);
    margin-right: 10px;
}

.groups-area{
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.groups{
    width: 100%;
    max-height: 400px;
    min-height: 380px;
    height: auto;
}

.cards-group{
    border-radius: 10px;
    height: 350px !important;
    overflow-y: auto;
}

.icon-header-group{
    font-size: 18px !important;
    color: var(--title);
}

.title-header-group{
    font-weight: 500;
    font-size: 16px;
    color: var(--title) !important;
}

.title-header-group span{
    color: var(--text-ligth) !important;
    margin-left: 15px;
}

.header-groups{
    width: 100%;
    height: 30px;
    border-bottom: 3px solid var(--blue-fixed);
    margin-bottom: 15px;
}

.header-groups-orange{
    border-bottom: 3px solid var(--orange);
}

.header-groups-purple{
    border-bottom: 3px solid var(--purple);
}

#trajeto-texto,
#trajeto-texto2,
#trajeto-texto3{
    width: 100%;
    height: 100% !important;
    overflow-y: auto !important; 
    padding: 9px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

#trajeto-texto2{
    padding: 0 !important;
    padding-bottom: 50px;
}

.adp-list{
    border: 0 !important;
}

.adp-listsel{
    background: var(--white) !important;
}

.adp-fullwidth, .adp-list{
    background: transparent !important;
}

.adp-listinfo{
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start;
}

.adp-listinfo span:nth-child(3) {
    display: none;
}

.adp-listsel .adp-listinfo{
    border: 2px solid var(--primary) !important;
}

/* ---------------------------------------- */

.shadow-area{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--shadow-area);
    top: 0;
    z-index: 999999999 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.modal-area{
    width: 90%;
    height: 82%;
    background: var(--white);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 25px 20px;
}

.input-modal{
    height: auto;
    margin-top: 18px;
}

.header-modal{
    margin-bottom: 25px;
}

.header-modal h1{
    font-size: 18px;
    color: var(--title);
}

.input-modal label{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-ligth);
    margin-bottom: 5px;
}

.modal-input{
    height: 48px !important;
}

.btnCadGroup{
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: 0;
    margin-top: 10px;
    color: var(--white);
    background: var(--primary);
}


/* ---------------------------- */

.new-card{
    min-height: 290px !important;
    border-radius: 10px;
    padding: 0;
    flex-direction: column;
}

.card-header{
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    padding: 12px 20px 0 20px;
    border-bottom: 1px solid var(--border);
}

.destination-card{
    width: 100%;
    height: 108px;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    border-bottom: 1px solid var(--border);
}

.card-footer{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding: 12px 20px;
}

.box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-icons{
    display: flex;
    gap: 10px;
}


.box-icon{
    min-width: 35px;
    min-height: 35px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: var(--purple-ligth);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title-label{
    font-size: 12px;
    line-height: 15px;
    color: var(--text-ligth);
}

.card-title-h1{
    font-weight: 600;
    font-size: 16px !important;
    line-height: 20px;
    color: var(--title);
}

.card-title-h1-small{
    font-size: 14px !important;
}

.sub-box{
    margin-top: 5px;
}

.icons-destination{
    width: 33px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 2px;
}

.sub-box-destination{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    padding-bottom: 8px;
}

.circle-destination{
    min-width: 17px;
    min-height: 17px;
    width: 17px;
    height: 17px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid #626262;
}


.line-destination{
    width: 0px;
    height: 39px;
    border: 1px dashed var(--text-ligth) ;
    margin-left: -1px;
}

.box-line{
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-destination{
    min-width: 17px;
    min-height: 17px;
    width: 17px;
    height: 17px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #626262 ;
}

.user-photo-destination{
    min-width: 35px;
    min-height: 35px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #ffacfb;
}

.user-destination{
    display: flex;
    gap: 10px;
    display: flex;
    align-items: center;
}

.box-footer{
    display: flex;
    align-items: center;
}

.icon-in-box{
    color: #7C6DFF;
}

.box-icon-ligth{
    background: var(--background-box-icon);
}

.box-icon-ligth .icon-in-box{
    color: #BBC9DD;
}

.color-green{
    background: #D3F1F4;
    color: #21B8C7;
}

.box-util{
    margin-right: 15px;
}

.item a{
    text-decoration: none;
    color: var(--text-ligth);
}

#logo-type{
    display: none;
}

.indicators{
    width: 100%;
    display: flex;
    margin-top: 30px;
    gap: 15px;
}

.img-indicators img{
    width: 98%;
    max-height: 130px;
    object-fit: cover;
}

.img-indicators{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-indicators{
    border: 2px solid #32BE60;
    border-radius: 5px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.icon-indicator{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
}

.plus{
    color: var(--primary);
}

#label-icon{
    font-size: 35px;
    font-weight: bold;
    padding-left: 8px;
}

.numbers{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    
}

.area-admin{
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.admin{
    width: 100%;
    max-height: 380px;
    height: auto;
    margin-top: 30px;
    background-color: white;
}

.admin.name{
    display: inline;
}

.dropup{
    color: var(--primary);
}

.dropdown{
    color: red;
}

/* Dashboard - aprovação usuárias */

#titulo-area{
    margin-bottom: 30px;
}

.area-contas{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */    
}

.contas-pendentes{
    width: 100%;
    max-height: 380px;
    height: 80px;
    /* margin-top: 30px; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px rgba(219, 219, 219, 1);
}

.contas{
    width: 95%;
    height: 85%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name-usuaria{
    font-weight: bold;
    font-size: 18px;
}

.informacao-usuaria{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 20%;
    height: 100%;
    /* background-color: green; */
}

.email-usuaria{
    display: flex;
    align-items: center;
    width: 25%;
    height: 100%;
    /* background-color: purple; */
}

.idade-usuaria{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    /* background-color: grey; */
}

.documento-usuaria{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 20%;
    height: 100%;
    /* background-color: yellow; */
}


.img-user-aprove{
    width: 10% !important;
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
}

.lupa{
    background-color: var(--primary);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.lup{
    color: white;
    font-size: 18px !important;
}

.cards-group::-webkit-scrollbar {
    width: 5px;       
}

.cards-group::-webkit-scrollbar-track {
    background: var(--background-box-icon);      
}

.cards-group::-webkit-scrollbar-thumb {
    background-color: #BBC9DD;  
    border-radius: 20px;       
}



.title-find{
    width: 100%;
}

.findGroup{
    margin-top: 25px;
}

.input-area-find-group{
    height: 45px;
}

.btn-find-group{
    height: 45px;
    width: 100%;
}

.list-groups{
    margin-top: 25px;
    width: 100%;
}

.header-list-groups .title-find,
.form .title-find{
    font-size: 16px;
    margin-bottom: 15px;
}

/* modal group */

.modal-area-group{
    height: auto;
}

.card-modal-group{
    width: 100%;
    height: 100%;
    border: 0;
    align-items: unset;
    justify-content: unset;
}

.modal-card-group{
    padding: 0;
}

.card-header-modal{
    height: 122px;
}

.destination-card-modal{
    height: 122px;
}

.card-modal-members{
    border-top: 1px solid var(--border);
    height: 228px;
    box-sizing: border-box;
    padding: 10px 20px;
}

.modal-list-members{
    width: 100%;
    height: 155px;
    border: 1px solid var(--border);
    border-radius: 6px;
    margin-top: 15px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    max-height: 159px;
    overflow-y: auto;
}

.card-member-modal{
    height: 122px;
    width: 105px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 5px;
    border-radius: 6px;
}

.photo-member{
    min-width: 52px;
    min-height: 52px;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 3px solid white;
    background: var(--blue);
    margin-bottom: 6px;
}

.photo-member img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.name-card-member{
    font-weight: 500 !important;
    text-align: center;
}

.orange-ligth{
    background: var(--orange-ligth);
}

.beige-ligth{
    background: var(--beige-ligth);
}

.green-ligth{
    background: var(--green-ligth);
}

.purple-ligth{
    background: var(--purple-ligth);
}

.enter-group{
    border-top: 1px solid var(--border);
    height: 58px;
    box-sizing: border-box;
    padding: 10px 20px;  
}

.members-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header-modal-group{
    height: 110px;
}

.card-find-group{
    cursor: pointer;
}

/* ROUTING */

.adp-warnbox, 
.adp-placemark,
.adp-legal{
    display: none !important;
}

.adp-summary{
    font-family: 'Montserrat', sans-serif;
    color: var(--title);
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 500;
}

.adp-substep,
.adp-distance,
.adp-substep b{
    font-family: 'Montserrat', sans-serif;
    color: var(--text-ligth);
    font-size: 14px;
    font-weight: normal !important;
}


.adp-directions tr{
    min-height: 57px;
    height: 57px;
    padding-top: 10px;
}

.active{
    color: var(--primary);
}

.card-modal-group{
    overflow-y: auto;
}

.card-grop-user{
    height: 90%;
}

.input-modal-card-user{
    margin-top: 8px;
    margin: 0;
}

.title-invite{
    margin: 5px 0;
}

.disabled{
    background: var(--border);
}

#contas-aprovacao-area{
    height: 270px !important;
    background: var(--white);
    border: 10px;
    overflow-y: auto;
}

.area-contas:hover{
    transition: 0.5s;
    background: var(--blue-ligth) !important;
    cursor: pointer;
}

.shadow-area-aprove{
    height: 100%;
}

.modal-area-aprove{
    height: 94%;
    overflow-y: auto !important;
}

.document{
    width: 100%;
    height: 227px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
}

.document label,
.label-modal-aprove{
    font-weight: 600 !important;
    font-size: 16px !important;
    color: var(--text-ligth);
    box-sizing: border-box;
    padding-bottom: 5px !important;
}

.document-image{
    width: 100%;
    height: 90%;
}

.document-image-photo{
    width: 170px;
    border-radius: 5px;
}

.document-image img{
    width: 100%;
    height: 100%;
    object-fit: 100%;
    border-radius: 5px;
}

/* .document-image-horizontal img{
    width: 176px;
    height: 335px;
    transform: rotate(90deg);
    object-fit: cover;
} */

.document-horizontal{
    height: 180px;
}

.btnModalAprove{
    font-weight: bold;
    margin-bottom: 10px;
}

.btnModalAproveDanger{
    background: var(--danger);
}

div#areaCardGroup {
    background-color: white;
    border-radius: 8px;
}

img.photo-adm {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

#textCSV{
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
}




/* denuncia */

.form{
    width: 100%;
    height: 550px;
    background: var(--white);
    margin-top: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}

.input-area textarea{
    border-radius: 5px;
    border: 1px solid var(--border);
    box-sizing: border-box;
    padding: 15px;
    outline: none;
    height: 150px;
}

.form-map{
    width: 100%;
    height: 550px;
    background: var(--white);
    margin: 20px 0;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}

.form-map div#mapa{
    width: 100%;
    height: 550px;
    position: absolute;
}


.denuncia-local-list{
    font-size: 12px !important;
    font-weight: 600 !important;
}

.btnDenuncia{
    border: 0 !important;
    color: var(--white);
    font-weight: bold;
}

.danger{
    background: var(--danger);
}

.success{
    background: var(--primary);
}


/* SWITCH */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
    margin-left: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b9b9b9;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--primary);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--primary);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* ---------------------- */

.content-feed{
    width: 100%;
    height: auto;
}

.publications{
    width: 100%;
    height: 627px;
    overflow-x: hidden;
    border-radius: 8px;
}

.publication{
    width: 100%;
    height: auto;
    background: var(--white);
    border-radius: 8px;
    border: 1px solid var(--border);
    margin-top: 30px;
    margin: 30px 0;
}

.user-identification{
    width: 100%;
    height: 66px;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
}

.user-identification-img{
    min-width: 40px;
    min-height: 40px;
    width: 45px;
    height: 45px;
    background: var(--blue-ligth);
    border-radius: 100%;
}

.user-identification-name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;
}

.identification-name{
    font-size: 14px;
    font-weight: 600;
    color: var(--title);
    margin-bottom: 2px;
}

.identification-local{
    font-size: 14px;
    font-weight: normal;
    color: var(--text-ligth);
}

.publication-area-image{
    width: 100%;
    height: 190px;
    box-sizing: border-box;
    padding: 0px 20px;
    display: flex;
    margin-top: 5px;
}

.publication-image{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.publication-text{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px 20px;
}

.publication-text h1{
    font-size: 26px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 15px;
}

.publication-text label{
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    line-height: 25px !important;
    color: var(--text-ligth);
}

.publications-tags{
    width: 100%;
    min-height: 55px;
    height: auto;
    background: var(--background-tags);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.publication-tag{
    width: auto;
    height: 25px;
    background: var(--white);
    border-radius: 10px;
    border: 1px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.publication-tag label{
    color: var(--primary);
    font-size: 12px;
    font-weight: 500;
    margin: 0 12px;
}

.publication-insigths{
    width: 100%;
    min-height: 60px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.item-insigths{
    margin: 0;
    margin-right: 35px;
    height: 40px;
}

.insigths{
    display: flex;
    flex-direction: row;
}

.icon-insigths{
    color: var(--text-ligth);
    font-size: 10px;
}

.item-insigths label{
    margin-left: 8px;
    font-size: 12px;
}

.item-insigths-margin{
    margin: 0;
}

.trending h1{
   color: var(--title);
}

.moment{
    background: var(--text-ligth);
}

.create-publication{
    width: 100%;
    height: 80px;
    background: var(--white);
    border-radius: 8px;
    border: 1px solid var(--border);
}

.feed-title h1{
    margin-bottom: 30px;
}

.create-user-pub{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-title-pub{
    width: 70%;
    display: flex;
    align-items: center;
}

.create-user-pub button{
    width: 26%;
    height: 35px;
    border-radius: 5px;
    border: 0;
    background: var(--primary);
    color: var(--white);
    font-size: 12px;
    font-weight: bold;
}

.btnCreatePublication{
    width: 100% !important;
    font-weight: bold;
}

#text_publication{
    width: 100%;
    height: 150px;
    border: 0;
    outline: none;
}

.image-publication{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.area-image-publication{
    width: 48%;
    height: 48px;
    border-radius: 5px;
    border: 0;
    margin-top: 10px;
    box-sizing: border-box;
    border: 2px solid var(--border);
    position: relative;
}

.text-file{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-file label{
    font-size: 13px;
    color: var(--placeholder);
}

.input-local-pub{
    border: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    outline: none;
}

.area-local-publication{
    position: relative;
}

.area-icon-pub{
    min-width: 25px;
    min-height: 25px;
    height: 28px;
    width: 28px;
    background: #E6E5FD;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-icon-pub .material-icons{
    font-size: 16px;
    color: var(--purple);
}

.area-icon-pub-abs{
    top: 0;
    right: 15px;
    position: absolute;
    width: 50px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal-area-publication{
    position: relative;
}

.icon-close{
    color: var(--danger);
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal-area-publication{
    height: 65% !important;
}

.area-image-publication{
    width: 100%;
}

.publication-src{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.input-title{
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 15px;
    margin-bottom: 25px;
    outline: none;
}

.input-title:focus{
    border: 1px solid var(--primary);
}

.img-user-pub{
    border-radius: 50%;
}

#descobrirGrupos:hover{
    transition: 0.5s;
    background: var(--primary);
    color: white;
    cursor: pointer;
}

#createGroup:hover{
    transition: 0.5s;
    background: var(--white);
    border: 2px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
}

.btnDenuncia:hover,
.createPublication:hover,
.btnCreatePublication:hover{
    transition: 0.5s;
    cursor: pointer;
    background: #2f9752;
}

div.area-graficos {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

div.area-graficos div.grafico {
    margin-top: 5px;
    min-width: 480px;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
}

div.area-graficos div.grafico.half {
    width: 48%;
}

div.area-graficos div.grafico.full {
    width: 100%;
}

div.area-graficos div.grafico canvas {
    margin-top: 10px;
}

.btn-find-group:hover{
    background: #2f9752 !important;
    color: white !important;
    cursor: pointer !important;
    border: 0 !important;
}