html.darkMode * {
    --primary: #32BE60;
    --title: #ffffff;
    --text-ligth: #ffffff;    ;
    --border: #d3d3d3;
    --white: #151f2a;
    --background: #151f2a;
    --danger: #ffffff;
    --orange: #E9936D;
    --blue: #4A90E2;
    --purple: #5444B5;
    --blue-ligth: #ffffff;
    --orange-ligth: #FF4444;
    --beige-ligth: #FFEBD5;
    --green-ligth: #1da1f2;
    --blue-fixed: #1da1f2;
    --purple-ligth: #E6E5FD;
    --background-light: #192734;
    --icon-danger: rgb(255, 255, 255);
    --color-icon-input: #535353;
    --background-box-icon: #1da1f2;
    --shadow-area: #ffffff57;
    --title-reverse: #ffffff;
    --background-white: #151f2a;
}
