<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saferoute">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeRoute"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.CreatePublication"
            android:exported="true" />
        <activity
            android:name=".activity.RegisterComplaint"
            android:exported="true" />
        <activity
            android:name=".activity.GroupLocomotion.FindGroups"
            android:exported="true" />
        <activity
            android:name=".activity.GroupLocomotion.RegisterGroupLocomotion"
            android:exported="true" />
        <activity
            android:name=".activity.PreviousDestination.PreviousDestination"
            android:exported="true" />
        <activity
            android:name=".activity.PreviousDestination.RoutePreviousDestination"
            android:exported="true" />
        <activity
            android:name=".activity.RouteCurrentMoment"
            android:exported="true" />
        <activity
            android:name=".activity.GroupLocomotion.UserGroupsLocomotion"
            android:exported="true" />
        <activity
            android:name=".activity.GroupLocomotion.RouteGroupLocomotion"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" /> <!-- GOOGLE_MAPS_API_KEY=AIzaSyBXb9iZ4vmYJXOH4ZlzmEkHal706Qj-a44 -->
        <activity
            android:name=".activity_new_previous_destination"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="br.com.safe.route.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity android:name=".activity.ViewPhoto" />
        <activity
            android:name=".activity.Home"
            android:exported="true" />
        <activity
            android:name=".activity.Register.RegisterSelfie"
            android:exported="true" />
        <activity
            android:name=".activity.Register.RegisterDocument"
            android:exported="true" />
        <activity
            android:name=".activity.Register.RegisterTrustContact"
            android:exported="true" />
        <activity
            android:name=".activity.Register.RegisterPreviousDestination"
            android:exported="true" />
        <activity
            android:name=".activity.Register.RegisterPersonalInfo"
            android:exported="true" />
        <activity android:name=".activity.Login" />
        <activity android:name=".activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>